* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: aliceblue;
}

.nav-link {
  list-style: none;
  display: flex;
}

.nav-link li {
  margin-left: 20px;
}

.nav-link a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.5s ease;
}

.nav-item {
  padding: 12px;
}

.nav-item:hover {
  background-color: rgb(126, 123, 123);
  transition: 1s ease;
  background-color: 1s ease;
  border-radius: 8px;
}
